#yellow {
    height: calc(100vh - 48px);
    width: 25%;
    border: 1px solid black;
    background: #ffff00;
    float: left;
}

#white-1 {
    height: calc(100vh - 48px);
    width: 20%;
    border: 1px solid black;
    background: #ffffff;
    float: left;
}

#blue-and-white {
    height: calc(100vh - 48px);
    width: 35%;
    float: left;
}

#blue-1 {
    height: 20%;
    width: 100%;
    border: 1px solid black;
    background: blue;
}

#white-2 {
    height: 60%;
    width: 100%;
    border: 1px solid black;
    background: #ffffff;
}

#blue-2 {
    height: 20%;
    width: 100%;
    border: 1px solid black;
    background: #0000ff;
}

#white-3 {
    height: calc(100vh - 48px);
    width: 19.5%;
    border: 1px solid black;
    background: #ffffff;
    float: left;
}